.pgcss-hll {
background-color:#eee;
}
.pgcss-c {
color:#408090;
font-style:italic;
}
.pgcss-err {
border:1px solid #FF0000;
}
.pgcss-k {
color:#007020;
font-weight:bold;
}
.pgcss-o {
color:#666666;
}
.pgcss-cm {
color:#408090;
font-style:italic;
}
.pgcss-cp {
color:#007020;
}
.pgcss-c1 {
color:#408090;
font-style:italic;
}
.pgcss-cs {
background-color:#FFF0F0;
color:#408090;
}
.pgcss-gd {
color:#A00000;
}
.pgcss-ge {
font-style:italic;
}
.pgcss-gr {
color:#FF0000;
}
.pgcss-gh {
color:#000080;
font-weight:bold;
}
.pgcss-gi {
color:#00A000;
}
.pgcss-go {
color:#303030;
}
.pgcss-gp {
color:#C65D09;
font-weight:bold;
}
.pgcss-gs {
font-weight:bold;
}
.pgcss-gu {
color:#800080;
font-weight:bold;
}
.pgcss-gt {
color:#0040D0;
}
.pgcss-kc {
color:#007020;
font-weight:bold;
}
.pgcss-kd {
color:#007020;
font-weight:bold;
}
.pgcss-kn {
color:#007020;
font-weight:bold;
}
.pgcss-kp {
color:#007020;
}
.pgcss-kr {
color:#007020;
font-weight:bold;
}
.pgcss-kt {
color:#902000;
}
.pgcss-m {
color:#208050;
}
.pgcss-s {
color:#4070A0;
}
.pgcss-na {
color:#4070A0;
}
.pgcss-nb {
color:#007020;
}
.pgcss-nc {
color:#0E84B5;
font-weight:bold;
}
.pgcss-no {
color:#60ADD5;
}
.pgcss-nd {
color:#555555;
font-weight:bold;
}
.pgcss-ni {
color:#D55537;
font-weight:bold;
}
.pgcss-ne {
color:#007020;
}
.pgcss-nf {
color:#06287E;
}
.pgcss-nl {
color:#002070;
font-weight:bold;
}
.pgcss-nn {
color:#0E84B5;
font-weight:bold;
}
.pgcss-nt {
color:#062873;
font-weight:bold;
}
.pgcss-nv {
color:#BB60D5;
}
.pgcss-ow {
color:#007020;
font-weight:bold;
}
.pgcss-w {
color:#BBBBBB;
}
.pgcss-mf {
color:#208050;
}
.pgcss-mh {
color:#208050;
}
.pgcss-mi {
color:#208050;
}
.pgcss-mo {
color:#208050;
}
.pgcss-sb {
color:#4070A0;
}
.pgcss-sc {
color:#4070A0;
}
.pgcss-sd {
color:#4070A0;
font-style:italic;
}
.pgcss-s2 {
color:#4070A0;
}
.pgcss-se {
color:#4070A0;
font-weight:bold;
}
.pgcss-sh {
color:#4070A0;
}
.pgcss-si {
color:#70A0D0;
font-style:italic;
}
.pgcss-sx {
color:#C65D09;
}
.pgcss-sr {
color:#235388;
}
.pgcss-s1 {
color:#4070A0;
}
.pgcss-ss {
color:#517918;
}
.pgcss-bp {
color:#007020;
}
.pgcss-vc {
color:#BB60D5;
}
.pgcss-vg {
color:#BB60D5;
}
.pgcss-vi {
color:#BB60D5;
}
.pgcss-il {
color:#208050;
}
