<div class="row widget">
    <div class="widget-content">
        <div class="widget__title">
            <div class="widget__title-link">Популярное в дневнике</div>
        </div>
        <div class="widget__body">
            <div class="widget-line">
                <div class="widget-entry">
                    <div class="widget-day__title">25&nbsp;июня</div>
                    <div class="widget-entry clearfix">
                        <div class="widget-entry__item">
                            <div class="widget-entry__title">
                                <a href="#" class="h-link">&nbsp;&nbsp;&nbsp; Висцеральная теория сна выглядит стр…</a>
                            </div>
                            <div class="widget-entry__info">2&nbsp;ответа</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
